<h1>Queens 👸</h1>

<div class="inputs">
  Nums of Queens:
  <input
    type="text"
    [value]="nums"
    (keyup.enter)="updateInput(numsInput.value)"
    (blur)="updateInput(numsInput.value)"
    #numsInput
  />
  <button (click)="submit()">Submit</button>
</div>

<ng-container *ngIf="numbers">
  <small>The Board {{ nums }} by {{ nums }} </small>

  <select (change)="selectedBoard(selectBoard.value)" #selectBoard>
    <option *ngFor="let sol of numbers; let idx = index" [value]="idx">
      {{ sol.join(" ") }}
    </option>
  </select>

  <small> Selected board {{ board }}</small>
</ng-container>
<div class="board" *ngIf="numbers">
  <div class="row" *ngFor="let it of numbers[0]; let i = index">
    <ng-container *ngFor="let jt of numbers[0]; let j = index">
      <app-cell
        [color]="(i % 2 === 0 && j % 2 !== 0) || (i % 2 !== 0 && j % 2 === 0)"
        [isActive]="numbers[board][i] === j"
      ></app-cell>
    </ng-container>
  </div>
</div>
<small>Zakarliuka</small>
